.box {
  text-align: center;
  border: solid 1px;
  border-color: gray;
  min-width: 400px;
  min-height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 2px 2px;
}
#button {
  margin-top: 50px;
  border: 1px solid black;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 171px;
}
#button:hover {
  background-color: lightgray;
}
#button:active {
  background-color: gray;
}

input {
  border: 1px solid black;
}